/* === CSS RESET === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* === End of CSS RESET === */

.rotate(@deg) {
	-webkit-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	transform: rotate(@deg);
}

body {
	background: url(../assets/classy_fabric.png);
	overflow: hidden;
}

h1, h2, h3, h4 {
	font-family: "Terminal Dosis", sans-serif;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

a{
	font-family: "Terminal Dosis", sans-serif;
	color: #fff;
	background-color: #1abc9c;
	text-decoration: none;
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
    padding: 5px 0;
    transition: all ease-out .2s;

    span {
        transition: all ease-in .2s;
        i {
            position: relative;
            left: -20px;
            opacity: 0;
            transition: all ease-out .2s;
        }
    }
    &:hover {
        transition-timing-function: ease-in-out;
        span {
            margin-left: 20px;
            i {
                transition: all ease-out .1s;
                transition-delay: 0.3s;
                opacity: 1;
                left: -15px;
            }
        }
    }
}

.padding {
	box-sizing: border-box;
	padding: 50px;
}

nav {
	display: none;
	position: fixed;
	z-index: 9999999;
	bottom: 0;
	background: rgba(10,10,10, 0.5);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	left: 0;
	border-radius: 0 10px 0 0;

	li {
		float: left;
		&:last-child a {
			border-radius: 0 10px 0 0;
		}
	}

	a {
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: none;
		text-align: center;
		transition: 0.25s;
		&:hover {
			background: rgba(15,15,15, 0.5);
		}
	}
}


.sp-canvas {
    z-index: 0 !important;
}

.wrapper {
	opacity: 0;
	div {
		position: absolute;
		border-radius: 5px;
		background: #fff;
		box-shadow: -2px 0 6px rgba(0, 0, 0, 0.5);
		width: 800px;
		h2 {
			text-align: center;
		}
		p {
			text-align: justify;
			text-indent: 40px;
			margin-bottom: 15px;
		}
		a {
			text-align: center;
			margin: auto;
			padding: 20px;
		}
	}

	#start {
		font-size: 30px;
		text-align: center;
		font-weight: bold;
		background-color: transparent;
		background: url(../assets/classy_fabric.png);
		border: solid 10px #fff;
		color: #fff;
		font-family: "Terminal Dosis", sans-serif;

		h1 {
			/*text-transform: uppercase;*/
			font-size: 80px;
		}
		h3 {
			position: relative;
			top: -5px;
			left: 120px;
			font-family: sans-serif;
			font-size: 16px;
			font-weight: 100;
		}
		a {
			margin-top: 50px;
			width: 200px;
			text-transform: uppercase;
			text-align: left;
			text-indent: 5px;
			padding: 10px;
		}
	}

	#intro {
		font-family: "Terminal Dosis", sans-serif;
		top: 850px;
	}

	#part1, 
	#part2, 
	#part3, 
	#part3, 
	#part4, 
	#part5 {
		>a {
			z-index: -1;
			text-indent: 12px;
			position: relative;
			text-align: left;
			top: -45px;
			left: 600px;
			width: 160px;
			text-transform: uppercase;
			padding: 15px 0 30px 0;
		}
	}

	#part1 {
		top: 800px;
		left: 1150px;
		.rotate(180deg);
	}

	#part2 {
		top: -1500px;
		.rotate(90deg);
	}

	#part3 {
		left: -1200px;
		top: -700px;
	}

	#part4 {
		left: -1200px;
		top: 1200px;
	}

	#part5 {
		top: 2900px;
		left: 500px;
		.rotate(-90deg);
	}

	#conclusion {
		top: 1300px;
		left: 2180px;
		.rotate(180deg);
	}

	#credits {}

}

.fadeIn {
	transition: opacity 1s ease-in-out .5s;
	opacity: 1 !important;
}